.square-button {
  &:hover,
  &:focus-visible {
    .link-icon + .icon {
      @apply opacity-0;
    }
  }
}

.contact-button {
  background-color: #9155f6;
  box-shadow: 0px 4px 24px rgba(145, 85, 246, 0.25);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  transition-duration: 500ms;

  &:hover {
    background-color: #7225f3;
    box-shadow: 0px 4px 24px rgba(114, 37, 243, 0.3);
  }
}
