.filters {
  @apply relative grid grid-flow-col gap-2 rounded-full md:grid-cols-3 md:px-2 md:py-1;
  @apply md:border-[.5px] md:border-slate-200 md:bg-[var(--bg-color-3)] md:dark:border-slate-700;

  button {
    @apply z-10 flex justify-center rounded-full px-3 py-1 text-slate-800 opacity-75 dark:text-white;
    @apply bg-[var(--bg-color-3)] md:bg-transparent;
    transition:
      opacity 500ms,
      color 400ms,
      background-color 400ms;

    &:hover {
      @apply opacity-100;
    }

    &.selected {
      @apply bg-primary text-white opacity-100 md:bg-transparent;
    }
  }

  .indicator {
    @apply hidden h-full w-1/3 rounded-full md:flex;
    background-color: hsl(214, 100%, 50%);
    transition: 500ms;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .filters {
    @apply transition-colors duration-500;
  }
}
