.filters {
  @apply relative gap-2 grid md:grid-cols-3 grid-flow-col md:px-2 md:py-1 rounded-full;
  @apply md:border-[.5px] md:border-slate-200 md:dark:border-slate-700 md:bg-[var(--bg-color-3)];

  button {
    @apply z-10 flex justify-center opacity-75 px-3 py-1 rounded-full text-slate-800 dark:text-white;
    @apply bg-[var(--bg-color-3)] md:bg-transparent;
    transition:
      opacity 500ms,
      color 400ms,
      background-color 400ms;

    &:hover {
      @apply opacity-100;
    }

    &.selected {
      @apply opacity-100 bg-primary md:bg-transparent text-white;
    }
  }

  .indicator {
    @apply hidden h-full w-1/3 rounded-full md:flex;
    background-color: hsl(214, 100%, 50%);
    transition: 500ms;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .filters {
    @apply transition-colors duration-500;
  }
}
