// Theme
@import url("./theme.scss");

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply 2xl:text-lg;
  font-family: "Outfit", sans-serif;
}

body {
  overscroll-behavior: none;

  *:focus-visible {
    @apply outline-primary;
    outline-width: 4px;
  }
}

img {
  -webkit-user-drag: none;
}

.bg-gradient {
  background: linear-gradient(90deg, #0768eb 20%, #00c5c5 70%, #25a5fe);
}
