.project-card {
  .wrapper {
    .card-overlay {
      @apply h-0 md:h-3/4;
      transition: height 0.5s;
    }

    .content {
      background: hsla(0, 0%, 0%, 0.6);
      transition: background 0.5s;

      &::before {
        $height: 25px;

        content: "";
        position: absolute;
        top: -$height;
        width: 100%;
        height: $height;
        background: linear-gradient(180deg, transparent, hsla(0, 0%, 0%, 0.6));
      }
    }
  }

  &:hover,
  &:focus-within {
    .card-overlay {
      height: 0;
    }

    .content {
      background: hsla(0, 0%, 0%, 0.75);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 32px;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 18px;
    --swiper-navigation-sides-offset: 2px;
  }

  .project-card {
    &:hover, &:focus-within {
      .content {
        background: #00000090;
      }
    }
  }
}
