.project-card {
  .wrapper {
    .card-overlay {
      @apply h-0 md:h-3/4;
      transition: height 0.5s;
    }

    .content {
      background: #00000090;
      transition: background .5s;

      &::before {
        $height: 25px;

        content: "";
        position: absolute;
        top: -$height;
        width: 100%;
        height: $height;
        background: linear-gradient(180deg, transparent, #00000090);
      }
    }
  }

  &:hover {
    .card-overlay {
      height: 0;
    }

    .content {
      background: #000000BB;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 32px;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 18px;
    --swiper-navigation-sides-offset: 2px;
  }

  .project-card:hover {
    .content {
      background: #00000090;
    }
  }
}
