:root {
  --bg-color: #f8fafc;
  --bg-color-2: #ffff;
  --bg-color-3: #ffff;
  --text-color: #1d283a;
  --secondary-text-color: #48566a;
  --primary-color: #3870ff;
}

[data-theme="dark"] {
  --bg-color: #020617;
  --bg-color-2: #0f1729;
  --bg-color-3: #344256;
  --text-color: #cbd5e1;
  --secondary-text-color: #65758b;
  --primary-color: #4d7cff;

  .bg-gradient {
    filter: saturate(0.8);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--secondary-text-color);
}

b {
  @apply font-medium;
  color: var(--text-color); 
}

.thin-border {
  @apply border-[.5px] border-slate-200 dark:border-slate-700;
}

.container-background {
  background-color: var(--bg-color-2);
}

.inner-container {
  @apply shadow-md;
  @extend .thin-border;
  background-color: var(--bg-color-2);
}

.theme-bg {
  background-color: var(--bg-color);
}

.text-primary {
  color: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
  body {
    @apply transition-colors duration-500;
  }

  .inner-container,
  .container-background {
    transition-property: background-color, border-color;
    transition-duration: 500ms;
  }
}

#theme-toggle {
  --size: 2rem;
  inline-size: var(--size);
  block-size: var(--size);

  -webkit-tap-highlight-color: transparent;
}
