---
// Components
import Loader from "../../components/Loader.astro";
import Layout from "../../layouts/Layout.astro";
import About from "../../sections/About.astro";
import Footer from "../../sections/Footer.astro";
import Hero from "../../sections/Hero.astro";
import Projects from "../../sections/Projects.astro";
import Contact from "../../sections/Contact.astro";
import Skills from "../../sections/Skills.astro";
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Valentín Nicheglod – Full Stack Developer & UI/UX Designer</title>
    <meta
      name="description"
      content="Portfolio of Valentín Nicheglod, full stack developer and UI/UX designer based in Uruguay. Explore my work, projects, skills and contact information."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="canonical" href="https://valentin-nicheglod.is-a.dev/en" />
    <meta name="google-site-verification" content="uxdgTOSDIn_Rz8nYNcT7cyEe0I_jeQOpw5rsM9OtFFk" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
    />
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Valentín Nicheglod – Full Stack Developer & UI/UX Designer"
    />
    <meta
      property="og:description"
      content="Portfolio of Valentín Nicheglod, full stack developer and UI/UX designer based in Uruguay. Explore my projects, skills, and contact information."
    />
    <meta property="og:url" content="https://valentin-nicheglod.is-a.dev/en" />
    <meta
      property="og:image"
      content="https://valentin-nicheglod.is-a.dev/apple-touch-icon.png"
    />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Valentín Nicheglod – Full Stack Developer & UI/UX Designer"
    />
    <meta
      name="twitter:description"
      content="Portfolio of Valentín Nicheglod, full stack developer and UI/UX designer based in Uruguay."
    />
    <meta
      name="twitter:image"
      content="https://valentin-nicheglod.is-a.dev/apple-touch-icon.png"
    />
  </head>
  <body>
    <Layout>
      <div id="loader" class="absolute w-dvw h-dvh overflow-hidden theme-bg">
        <Loader />
      </div>
      <Hero />
      <main id="content" class="hidden">
        <About />
        <Skills />
        <Projects />
        <Contact />
        <Footer />
      </main>
    </Layout>
  </body>
  <style is:global>
    @import url(../../styles/global.scss);
  </style>
  <script>
    import {
      initializeLanguage,
      showContent,
    } from "../../scripts/initialization.scripts.ts";

    showContent();
    initializeLanguage();
  </script>
</html>
