---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../sections/Hero.astro';
import '/src/styles/global.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Valentín Nicheglod | Portfolio</title>
  </head>
  <body>
    <Layout>
      <Hero />
    </Layout>
  </body>
  <script>
    const notLangugePreferenceSaved = !sessionStorage.getItem('lang');
    if (notLangugePreferenceSaved) {
      const navigatorLanguageIsSpanish = navigator.language.includes('es');
      if (navigatorLanguageIsSpanish) {
        location.pathname = '/es';
        sessionStorage.setItem('lang', 'es');
      }
    }
  </script>
</html>
