// Base easings
$ease-1: cubic-bezier(0.25, 0, 0.5, 1);
$ease-2: cubic-bezier(0.25, 0, 0.4, 1);
$ease-3: cubic-bezier(0.25, 0, 0.3, 1);
$ease-4: cubic-bezier(0.25, 0, 0.2, 1);
$ease-5: cubic-bezier(0.25, 0, 0.1, 1);

// Ease In
$ease-in-1: cubic-bezier(0.25, 0, 1, 1);
$ease-in-2: cubic-bezier(0.5, 0, 1, 1);
$ease-in-3: cubic-bezier(0.7, 0, 1, 1);
$ease-in-4: cubic-bezier(0.9, 0, 1, 1);
$ease-in-5: cubic-bezier(1, 0, 1, 1);

// Ease Out
$ease-out-1: cubic-bezier(0, 0, 0.75, 1);
$ease-out-2: cubic-bezier(0, 0, 0.5, 1);
$ease-out-3: cubic-bezier(0, 0, 0.3, 1);
$ease-out-4: cubic-bezier(0, 0, 0.1, 1);
$ease-out-5: cubic-bezier(0, 0, 0, 1);

// Ease In-Out
$ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
$ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
$ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);
$ease-in-out-4: cubic-bezier(0.7, 0, 0.3, 1);
$ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);

// Elastic Easings
$ease-elastic-out-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
$ease-elastic-out-2: cubic-bezier(0.5, 1, 0.75, 1.25);
$ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
$ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
$ease-elastic-out-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);

$ease-elastic-in-1: cubic-bezier(0.5, -0.25, 0.75, 1);
$ease-elastic-in-2: cubic-bezier(0.5, -0.5, 0.75, 1);
$ease-elastic-in-3: cubic-bezier(0.5, -0.75, 0.75, 1);
$ease-elastic-in-4: cubic-bezier(0.5, -1, 0.75, 1);
$ease-elastic-in-5: cubic-bezier(0.5, -1.25, 0.75, 1);

$ease-elastic-in-out-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
$ease-elastic-in-out-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
$ease-elastic-in-out-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
$ease-elastic-in-out-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
$ease-elastic-in-out-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);

// Derived easings
$ease-elastic-1: $ease-elastic-out-1;
$ease-elastic-2: $ease-elastic-out-2;
$ease-elastic-3: $ease-elastic-out-3;
$ease-elastic-4: $ease-elastic-out-4;
$ease-elastic-5: $ease-elastic-out-5;

$ease-squish-1: $ease-elastic-in-out-1;
$ease-squish-2: $ease-elastic-in-out-2;
$ease-squish-3: $ease-elastic-in-out-3;
$ease-squish-4: $ease-elastic-in-out-4;
$ease-squish-5: $ease-elastic-in-out-5;

// Steps
$ease-step-1: steps(2);
$ease-step-2: steps(3);
$ease-step-3: steps(4);
$ease-step-4: steps(7);
$ease-step-5: steps(10);
