---
import aboutTranslations from "../locales/about.locales.json";
import { Emojis } from "../models/enums/emojis.enum";

const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = aboutTranslations[lang];

const interests = [
  {
    label: translations.architecture,
    emojiCode: Emojis.Architecture,
  },
  {
    label: translations.aviation,
    emojiCode: Emojis.Aviation,
  },
  {
    label: translations.design,
    emojiCode: Emojis.Design,
  },
  {
    label: translations.photography,
    emojiCode: Emojis.Photography,
  },
  {
    label: translations.technology,
    emojiCode: Emojis.Technology,
  },
  {
    label: translations.travel,
    emojiCode: Emojis.Travel,
  },
];
---

<div class="flex flex-col gap-3 md:gap-4">
  <h3 class="text-xl md:text-3xl font-semibold opacity-90">
    {translations.interests}
  </h3>
  <div class="flex gap-3 md:gap-4">
    {
      interests.map((interest) => (
        <div class="flex flex-col gap-2">
          <div class="inner-container p-4 rounded-md aspect-square">
            <div class="text-4xl md:text-5xl dark-opacity" set:html={interest.emojiCode} />
          </div>
          <p class="text-center text-xs md:text-sm font-light select-none">
            {interest.label}
          </p>
        </div>
      ))
    }
  </div>
</div>
