---
// Enums
import { Emojis } from "../models/enums/emojis.enum";

// Translations
import aboutTranslations from "../locales/about.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = aboutTranslations[lang];

const interests = [
  {
    label: translations.architecture,
    emojiCode: Emojis.Architecture,
  },
  {
    label: translations.aviation,
    emojiCode: Emojis.Aviation,
  },
  {
    label: translations.design,
    emojiCode: Emojis.Design,
  },
  {
    label: translations.photography,
    emojiCode: Emojis.Photography,
  },
  {
    label: translations.technology,
    emojiCode: Emojis.Technology,
  },
  {
    label: translations.travel,
    emojiCode: Emojis.Travel,
  },
];
---

<section class="flex flex-col gap-3 md:gap-4">
  <header>
    <h3 class="opacity-90 font-semibold text-xl md:text-3xl">
      {translations.interests}
    </h3>
  </header>
  <div class="md:overflow-visible overflow-x-scroll">
    <ul class="flex gap-3 md:gap-4 pb-4 md:pb-0">
      {
        interests.map((interest) => (
          <li class="flex flex-col gap-2 outline-offset-4">
            <div class="p-4 rounded-md aspect-square inner-container">
              <div
                class="dark:opacity-90 text-4xl md:text-5xl"
                set:html={interest.emojiCode}
              />
            </div>
            <p class="font-light text-center text-xs md:text-sm dark:text-white">
              {interest.label}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
