---
// Timezone Config
import moment from "moment-timezone";
import { getCountryForTimezone } from "countries-and-timezones";

// Images
import { Image } from "astro:assets";
import USFlag from "../images/flags/US.png";
import UKFlag from "../images/flags/UK.png";
import ESFlag from "../images/flags/ES.png";

const lang: "en" | "es" = Astro.currentLocale as "en" | "es";

const getUserCountry = () => {
  return getCountryForTimezone(moment.tz.guess());
};

const englishFlag = getUserCountry()?.id === "US" ? USFlag : UKFlag;
---

<button
  id="language-toggle"
  class="relative w-14 aspect-square touch-manipulation group"
>
  <Image
    id="english-flag"
    src={englishFlag}
    alt=""
    loading="eager"
    class="outline-slate-300 rounded-full transition-transform duration-500 group-hover:scale-125"
  />
  <Image
    id="spanish-flag"
    src={ESFlag}
    alt=""
    loading="eager"
    class="z-10 outline-slate-300 rounded-full transition-transform duration-500 group-hover:scale-125"
    class:list={{ hidden: lang !== "es" }}
  />
</button>
<style>
  img,
  button::after {
    --size: 1.75rem;

    position: absolute;
    top: calc(var(--size) / 2);
    right: calc(var(--size) / 2);

    width: var(--size);
    height: var(--size);

    transform: scale(1.125);
  }
</style>
<script src="../scripts/language-toggle.scripts.ts"></script>
