---
// Timezone Config
import moment from "moment-timezone";
import { getCountryForTimezone } from "countries-and-timezones";

// Images
import { Image } from "astro:assets";
import USFlag from "../images/flags/US.png";
import UKFlag from "../images/flags/UK.png";
import ESFlag from "../images/flags/ES.png";

const lang: "en" | "es" = Astro.currentLocale as "en" | "es";

const getUserCountry = () => {
  return getCountryForTimezone(moment.tz.guess());
};

const englishFlag = getUserCountry()?.id === "US" ? USFlag : UKFlag;
---

<button
  id="language-toggle"
  class="group relative rounded-full w-14 touch-manipulation aspect-square outline-offset-2"
  aria-label={lang === "en"
    ? "Press to switch to Spanish"
    : "Presiona para cambiar a Inglés"}
  aria-live="polite"
>
  <Image
    id="english-flag"
    src={englishFlag}
    alt=""
    aria-hidden="true"
    loading="eager"
    class="group-hover:scale-125 rounded-full transition-transform duration-500 outline-slate-300"
  />
  <Image
    id="spanish-flag"
    src={ESFlag}
    alt=""
    aria-hidden="true"
    loading="eager"
    class="group-hover:scale-125 z-10 rounded-full transition-transform duration-500 outline-slate-300"
    class:list={{ hidden: lang !== "es" }}
  />
</button>
<style>
  img,
  button::after {
    --size: 1.75rem;

    position: absolute;
    top: calc(var(--size) / 2);
    right: calc(var(--size) / 2);

    width: var(--size);
    height: var(--size);

    transform: scale(1.125);
  }
</style>
<script src="../scripts/language-toggle.scripts.ts"></script>
