---
import moment from "moment-timezone";
import { getCountryForTimezone } from "countries-and-timezones";

const lang: "en" | "es" = Astro.currentLocale as "en" | "es";

const getUserCountry = () => {
  return getCountryForTimezone(moment.tz.guess());
};

const englishFlag = getUserCountry()?.id === "US" ? "US" : "GB";
---

<button id="language-toggle">
  <img
    id="english-flag"
    src={`/images/flags/${englishFlag}.png`}
    class="outline-slate-300 rounded-full transition-transform"
    alt=""
  />
  <img
    id="spanish-flag"
    src={`/images/flags/ES.png`}
    alt=""
    class="z-10 outline-slate-300 rounded-full transition-transform"
    class:list={{ hidden: lang !== "es" }}
  />
</button>
<style>
  button {
    position: relative;
    outline-offset: 5px;

    width: 50px;
    height: 50px;
    aspect-ratio: 1;

    border-radius: 50%;
    cursor: pointer;

    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s;

    &:hover {
      img {
        transform: scale(1.25);
      }
    }
  }

  img,
  button::after {
    --size: 25px;

    position: absolute;
    top: calc(var(--size) / 2);
    right: calc(var(--size) / 2);

    width: var(--size);
    height: var(--size);

    transform: scale(1.125);
  }
</style>
<script>
  import tippy from "tippy.js";
  import "tippy.js/dist/tippy.css";
  import "tippy.js/animations/scale.css";

  const changeLanguage = () => {
    const spanishFlag = document.querySelector("#spanish-flag");
    spanishFlag?.classList.add("animate-duration-500");

    const html = document.querySelector("html");
    const selectedLanguage = html?.getAttribute("lang");

    if (selectedLanguage === "en") {
      spanishFlag?.classList.remove("hidden");
    } else {
      spanishFlag?.classList.add("animate-reverse");
    }
    spanishFlag?.classList.add("animate-fade");

    const ANIMATION_DURATION = 500;
    setTimeout(() => {
      location.pathname = selectedLanguage === "en" ? "/es" : "/en";
    }, ANIMATION_DURATION);
  };

  const setTooltipData = () => {
    const selectedLanguage = document
      .querySelector("html")
      ?.getAttribute("lang");

    const content = `
      <div class="px-2">
        <div class="flex items-center gap-3 mt-2">
          <div class="rounded-full p-1 bg-primary">
            <img src="src/icons/translate.svg" class="w-6 h-6" />
          </div>
          <div>
            <span class="text-xs font-extralight text-slate-300">
              ${selectedLanguage === "en" ? "Current language" : "Idioma actual"}
            </span>
            <div class="text-base text-white">
              ${selectedLanguage === "en" ? "English" : "Español"}
            </div>
          </div>
        </div>
        <hr class="my-2 border-slate-500" />
        <div class="font-light text-slate-300 mb-2">
          ${selectedLanguage === "en" ? "Press to switch to Spanish" : "Presiona para cambiar a Inglés"}
        </div>
      </div>
    `;

    tippy(`#language-toggle`, {
      content,
      allowHTML: true,
      placement: "bottom",
      arrow: false,
      animation: "scale",
      offset: [0, 16],
      duration: 250,
    });
  };

  document.addEventListener("DOMContentLoaded", setTooltipData);

  document
    .querySelector("#language-toggle")
    ?.addEventListener("click", changeLanguage);
</script>
