---
import { Image } from "astro:assets";
import logo from "../icons/logo.svg";
---

<>
  <div
    class="z-40 absolute inset-0 m-auto rounded-full w-dvw transition-transform duration-[1.75s] overflow-hidden aspect-square ease-in scale-150 theme-bg wrapper"
    aria-disabled="true"
  >
  </div>
  <Image
    src={logo}
    alt=""
    class="z-50 absolute inset-0 m-auto w-40 transition-opacity duration-1000 delay-1000 logo"
  />
</>
<script>
  import { removeLoader } from "../scripts/initialization.scripts.ts";

  removeLoader();
</script>
