---
import { Icon } from "astro-icon/components";
const { city, country, flag } = Astro.props;
---

<div class="rounded-full location">
  <div
    class="flex items-center gap-2 rounded-full shadow-md px-3 py-1 bg-slate-700 border-color border-2 m-0.5"
  >
    <Icon name="map-pin" class="text-slate-50" />
    <span class="text-slate-50 text-xs sm:text-sm font-light">
      {city}, <span class="text-slate-300">{country}</span>
    </span>
    <img src={`/images/flags/${flag}.png`} class="w-4 h-4 ml-auto" alt="" />
  </div>
</div>
<style type="scss">
  .location {
    background: linear-gradient(45deg, #149bff, #2bfeff);

    &:nth-child(odd) {
      background: linear-gradient(45deg, #2bfeff, #149bff);
    }
  }
</style>
