---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const { city, country, flag } = Astro.props;
---

<div class="location rounded-full dark-opacity">
  <div
    class="inner-container flex items-center gap-2 rounded-full px-3 py-1 bg-slate-700 m-0.5"
  >
    <Icon name="map-pin" class="text-slate-50" />
    <span class="text-slate-50 text-xs sm:text-sm font-light">
      {city}, <span class="text-slate-300">{country}</span>
    </span>
    <Image src={flag} class="w-4 h-4 ml-auto" alt="" />
  </div>
</div>
<style type="scss">
  .location {
    background: linear-gradient(45deg, #149bff, #2bfeff);

    &:nth-child(odd) {
      background: linear-gradient(45deg, #2bfeff, #149bff);
    }

    > div {
      border: 2px solid var(--bg-color-2);
    }
  }
</style>
