---
import { Image } from "astro:assets";
import type { Project } from "../models/types/project.type";

const { project } = Astro.props as { project: Project };
---

<div class="project-logo w-14 h-14 sm:w-18 sm:h-18 p-2 bg-white thin-border shadow-sm">
  <Image
    src={project.logo}
    alt={`${project.name} Logo`}
  />
</div>
<style>
  @import url("../styles/minified/project-logo.min.scss");
</style>