---
// Assets
import { Image } from "astro:assets";

// Types
import type { Project } from "../models/types/project.type";

const { project } = Astro.props as { project: Project };
---

<div
  class="bg-white shadow-sm p-2 thin-border w-14 sm:w-18 h-14 sm:h-18 project-logo"
>
  <Image src={project.logo} alt="" />
</div>
<style>
  @import url("../styles/minified/project-logo.min.scss");
</style>
