---
import { Icon } from "astro-icon/components";
import heroTranslations from "../locales/hero.locales.json";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props as Props;
const translations = heroTranslations[lang];
---

<div
  class="instructions flex items-center gap-2 py-2 px-2 md:px-4 right-4 md:right-16 z-10"
>
  <Icon
    name="arrow-down"
    class="text-primary animate-bounce animate-infinite mt-2"
  />
  <span class="content text-black">
    {translations.instruction}
  </span>
</div>
<style>
  .instructions {
    position: absolute;
    bottom: 2rem;
    visibility: hidden;
    background-color: #fff;
    border-radius: 9999px;
  }
</style>
<script>
  const instructions = document.querySelector(".instructions");
  let timeout: any;

  const showInstructions = () => {
    instructions?.classList.add("visible");
    instructions?.classList.add(window.innerWidth > 768 ? "animate-jump-in" : "animate-fade");
    document
      .querySelector(".instructions")
      ?.classList.add("animate-duration-1000");
  };

  const clearInstructions = () => {
    clearTimeout(timeout);
    instructions?.classList.remove("animate-jump-in");
    instructions?.classList.add("animate-reverse");
    instructions?.classList.add("animate-fade");
    window.removeEventListener("scroll", clearInstructions);
  };

  timeout = setTimeout(showInstructions, 5000);
  window.addEventListener("scroll", clearInstructions);
</script>
