---
import { Icon } from "astro-icon/components";
import heroTranslations from "../locales/hero.locales.json";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props as Props;
const translations = heroTranslations[lang];
---

<div
  id="instructions"
  class="invisible absolute bottom-8 right-4 md:right-16 rounded-full z-30 bg-white"
>
  <div class="flex items-center gap-2 py-2 px-2 md:px-4">
    <Icon
      name="arrow-down"
      class="text-primary animate-bounce animate-infinite mt-2"
      aria-hidden="true"
    />
    <span class="content text-black" aria-live="polite">
      {translations.instruction}
    </span>
  </div>
</div>
<script src="../scripts/scroll-instruction.scripts.ts"></script>
