---
// Components
import { Icon } from "astro-icon/components";

// Translations
import heroTranslations from "../locales/hero.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = heroTranslations[lang];

const { image, project } = Astro.props as {
  image: ImageMetadata;
  project: Project;
};

import projectBackground from "../images/projects/project-background.png";
import { Image } from "astro:assets";
import type { Project } from "../models/types/project.type";

if (!project.mockup) return;
---

<div class="flex flex-col justify-center items-center h-full">
  <div
    class="w-fit mx-auto inset-0 mt-8"
  >
    <div
      class="flex items-center gap-2 px-2 py-1 rounded-full bg-white shadow-md animate-bounce animate-infinite"
    >
      <Icon name="arrow-down" class="text-primary text-sm" />
      <span class="text-black text-sm">
        {translations.instruction}
      </span>
    </div>
  </div>
  <div class="flex-1">
    <Image
      src={projectBackground}
      class="background object-contain"
      alt=""
    />
    <Image
      src={project.mockup}
      class="prototype-window"
      alt=""
    />
    <div
      class="prototype-content"
    >
      <Image src={image} alt="" />
    </div>
  </div>
</div>
<style lang="scss">
  :root {
    --base-prototype-width: min(900px, 70vw);
  }

  @media (max-width: 768px) {
    :root {
      --base-prototype-width: 85vw;
    }
  }

  .background {
    margin: auto;
    width: calc(var(--base-prototype-width) * 1.05);
    height: 100%;
    transform: translateY(-2rem);
  }

  .prototype-window {
    @apply absolute inset-0 m-auto;
    width: var(--base-prototype-width);
  }

  .prototype-content {
    @apply absolute inset-0 z-50 m-auto overflow-y-auto;
    width: calc(var(--base-prototype-width) * 0.96);
    height: calc(var(--base-prototype-width) * 0.565);
    transform: translateY(calc(var(--base-prototype-width) * 0.0135));
    scrollbar-width: thin;
    border-radius: 0 0 0.5rem 0.5rem;
  }
</style>
