---
// Components
import { Icon } from "astro-icon/components";

// Types
import type { Project } from "../models/types/project.type";

// Assets
import { Image } from "astro:assets";
import projectBackground from "../images/projects/project-background.png";

// Translations
import _heroTranslations from "../locales/hero.locales.json";
import _projectsTranslations from "../locales/projects.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const heroTranslations = _heroTranslations[lang];
const projectsTranslations = _projectsTranslations[lang];

const { image, project, index } = Astro.props as {
  image: ImageMetadata;
  project: Project;
  index: "0" | "1" | "2" | "3" | "4" | "6" | "7" | "8";
};

const imagesAltText: Record<string, string> =
  projectsTranslations[project.path].imagesAltText;

if (!project.mockup) return;
---

<div class="flex flex-col justify-center items-center h-full">
  <div class="inset-0 mx-auto mt-8 w-fit">
    <div
      class="flex items-center gap-2 bg-white shadow-md px-2 py-1 rounded-full animate-bounce animate-infinite"
    >
      <Icon name="arrow-down" class="text-primary text-sm" />
      <span class="text-black text-sm">
        {heroTranslations.instruction}
      </span>
    </div>
  </div>
  <div class="flex-1">
    <Image
      src={projectBackground}
      class="m-auto h-full -translate-y-8 background object-contain"
      alt=""
      aria-hidden="true"
    />
    <Image
      src={project.mockup}
      class="absolute inset-0 m-auto prototype-window"
      alt=""
      aria-hidden="true"
    />
    <div class="z-50 absolute inset-0 m-auto overflow-y-auto prototype-content">
      <Image src={image} alt={imagesAltText[index] || ""} />
    </div>
  </div>
</div>
<style lang="scss">
  :root {
    --base-prototype-width: min(900px, 70vw);
  }

  @media (max-width: 768px) {
    :root {
      --base-prototype-width: 85vw;
    }
  }

  .background {
    width: calc(var(--base-prototype-width) * 1.05);
  }

  .prototype-window {
    width: var(--base-prototype-width);
  }

  .prototype-content {
    width: calc(var(--base-prototype-width) * 0.96);
    height: calc(var(--base-prototype-width) * 0.565);
    transform: translateY(calc(var(--base-prototype-width) * 0.0135));
    scrollbar-width: thin;
    border-radius: 0 0 0.5rem 0.5rem;
  }
</style>
