---
import { Icon } from "astro-icon/components";
import heroTranslations from "../locales/hero.locales.json";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props as Props;
const translations = heroTranslations[lang];
---

<div
  id="instructions"
  class="invisible absolute bottom-8 right-4 md:right-16 rounded-full z-30 bg-white"
>
  <div class="flex items-center gap-2 py-2 px-2 md:px-4">
    <Icon
      name="arrow-down"
      class="text-primary animate-bounce animate-infinite mt-2"
    />
    <span class="content text-black">
      {translations.instruction}
    </span>
  </div>
</div>
<script>
  const instructions = document.getElementById("instructions");
  let timeout: any;

  const showInstructions = () => {
    instructions?.classList.add("opacity-100");
    instructions?.classList.add(
      window.innerWidth > 768 ? "animate-jump-in" : "animate-fade"
    );
    document
      .querySelector(".instructions")
      ?.classList.add("animate-duration-1000");
  };

  const clearInstructions = () => {
    clearTimeout(timeout);
    instructions?.classList.remove("animate-jump-in");
    instructions?.classList.add("animate-reverse");
    instructions?.classList.add("animate-fade");
    window.removeEventListener("scroll", clearInstructions);
  };

  timeout = setTimeout(showInstructions, 5000);
  window.addEventListener("scroll", clearInstructions);
</script>
