---
// Components
import { Icon } from "astro-icon/components";

// Translations
import heroTranslations from "../locales/hero.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = heroTranslations[lang];

const { image, projectPath } = Astro.props as {
  image: string;
  projectPath: string;
};
---

<div class="flex flex-col justify-center items-center h-full">
  <div
    class="w-fit mx-auto inset-0 mt-8"
    class:list={{ "opacity-0": !image.includes("scroll") }}
  >
    <div
      class="flex items-center gap-2 px-2 py-1 rounded-full bg-white shadow-md animate-bounce animate-infinite"
    >
      <Icon name="arrow-down" class="text-primary text-sm" />
      <span class="text-black text-sm">
        {translations.instruction}
      </span>
    </div>
  </div>
  <div class="flex-1">
    <img
      src="src/images/projects/project-background.png"
      class="background object-contain"
    />
    <img
      src={`src/images/projects/${projectPath}/mockup-window.png`}
      class="prototype-window"
    />
    <div
      class="prototype-content"
      class:list={{ "overflow-hidden": !image.includes("scroll") }}
    >
      <img src={`src/images/projects/${projectPath}/mockups/${image}.jpg`} />
    </div>
  </div>
</div>
<style lang="scss">
  :root {
    --base-prototype-width: min(900px, 70vw);
  }

  @media (max-width: 768px) {
    :root {
      --base-prototype-width: 85vw;
    }
  }

  .background {
    margin: auto;
    width: calc(var(--base-prototype-width) * 1.05);
    height: 100%;
    transform: translateY(-2rem);
  }

  .prototype-window {
    @apply absolute inset-0 m-auto;
    width: var(--base-prototype-width);
  }

  .prototype-content {
    @apply absolute inset-0 z-50 m-auto overflow-y-auto;
    width: calc(var(--base-prototype-width) * 0.96);
    height: calc(var(--base-prototype-width) * 0.565);
    transform: translateY(calc(var(--base-prototype-width) * 0.0135));
    scrollbar-width: thin;
    border-radius: 0 0 0.5rem 0.5rem;
  }
</style>
