---
import { Icon } from "astro-icon/components";
---

<div class="instructions flex items-center gap-2 text-slate-900">
  <Icon name="arrow-down" />
  Desliza hacia abajo para ver mas
</div>
<style>
  .instructions {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    padding: 0.5rem 1rem;
    visibility: hidden;
    border-radius: 9999px;
    background-color: #fff;
  }

  .fade-out {
    animation-name: fade-out;
    animation-duration: 0.5s;
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
<script>
  const instructions = document.querySelector(".instructions");
  let timeout: any;

  timeout = setTimeout(() => {
    instructions?.classList.add("visible");
    instructions?.classList.add("animate-jump-in");
    document
      .querySelector(".instructions")
      ?.classList.add("animate-duration-1000");
  }, 5000);

  window.addEventListener("scroll", () => {
    clearTimeout(timeout);
    instructions?.classList.remove("animate-jump-in");
    instructions?.classList.add("animate-reverse");
    instructions?.classList.add("animate-fade");
    removeEventListener("scroll", () => {});
  });
</script>
