---
import { Image } from "astro:assets";

const { image, projectPath } = Astro.props as {
  image: ImageMetadata;
  projectPath: string;
};
---

<div class="flex justify-center items-center gallery-image-container">
  <Image
    src={image}
    alt=""
    class="w-auto gallery-image"
  />
</div>
<style lang="scss">
  $max-height: min(800px, 95dvh);

  .gallery-image-container {
    height: $max-height;
  }

  .gallery-image {
    max-height: $max-height;
  }
</style>
