---
const { image, projectPath } = Astro.props as {
  image: string;
  projectPath: string;
};
---

<div class="gallery-image-container">
  <img
    src={`src/images/projects/${projectPath}/mockups/${image}.jpg`}
    alt=""
    class="gallery-image"
  />
</div>
<style lang="scss">
  $max-height: min(800px, 95dvh);

  .gallery-image-container {
    @apply flex items-center justify-center;
    height: $max-height;
  }

  .gallery-image {
    max-height: $max-height;
    width: auto;
  }
</style>
