---
import { Image } from "astro:assets";
import type { Skill } from "../models/types/skills.type";
const { skill } = Astro.props as { skill: Skill };
---

<div
  class="swiper-slide skill-slide inner-container rounded-md"
  data-type={skill.type}
>
  <div class="flex flex-col items-center gap-3 py-3">
    <Image
      src={skill.image}
      alt=""
      class="dark:opacity-90 w-16 h-16"
      class:list={skill.customClass}
    />
    <span class="text-[var(--text-color)] text-sm text-nowrap">
      {skill.name}
    </span>
  </div>
</div>
