---

const contactLinks = [
  {
    title: "Behance",
    href: "http://www.behance.net/valentin_nicheglod",
  },
  {
    title: "Dribble",
    href: "https://dribbble.com/valentin_nicheglod",
  },
  {
    title: "GitHub",
    href: "https://github.com/ValentinNicheglod",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/valentin-nicheglod/",
  },
];

const { size } = Astro.props;
---

<div class="flex gap-2 md:gap-3" class:list={{'justify-between': size === 'large'}}>
  {
    contactLinks.map((link) => (
      <a href={link.href} target="_blank" rel="noreferrer noopener" class="aspect-square transition-transform hover:scale-110 duration-500" class:list={{'w-11 md:w-12': !size, 'w-8 md:w-9': size === 'small', 'w-14 md:w-15': size === 'large'}}>
        <img
          src={`src/images/social/${link.title}.png`}
          alt={`${link.title} icon`}
        />
      </a>
    ))
  }
</div>
