---
// Constants
import { technologiesWithOwnBG } from "../models/constants";

// Translations
import projectsTranslations from "../locales/projects.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = projectsTranslations[lang];

const { technologies } = Astro.props as { technologies: string[] };

const iconHasOwnBackground = (techName: string) => {
  return technologiesWithOwnBG.has(techName);
};
---

<div
  class="flex justify-between items-center xs:border-slate-300 xs:bg-slate-100 xs:rounded-lg xs:p-2 pb-1"
>
  <span class="text-white xs:text-slate-600 text-sm font-light">
    {translations.technologies}
  </span>
  <div class="flex gap-1 xs:gap-2">
    {
      technologies.map((technology) => (
        <div
          class="rounded-full overflow-hidden transition-transform hover:-translate-y-1"
          class:list={{
            "p-1.5 bg-neutral-200": !iconHasOwnBackground(technology),
          }}
        >
          <img
            src={`src/images/skills/${technology}.png`}
            alt=""
            class:list={{
              "w-5 h-5 sm:w-6 sm:h-6": !iconHasOwnBackground(technology),
              "w-8 h-8 sm:w-9 sm:h-9": iconHasOwnBackground(technology),
            }}
          />
        </div>
      ))
    }
  </div>
</div>
