---
const { technologies } = Astro.props as { technologies: string[] };
import { technologiesWithOwnBG } from "../models/constants";
import projectsTranslations from "../locales/projects.locales.json";

const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = projectsTranslations[lang];

const iconHasOwnBackground = (techName: string) => {
  return technologiesWithOwnBG.has(techName);
};
---

<div
  class="flex justify-between items-center border-slate-300 bg-slate-100 rounded-lg p-2 pb-1"
>
  <span class="text-sm font-light tech-label">{translations.technologies}</span>
  <div class="flex gap-2">
    {
      technologies.map((technology) => (
        <div
          class="rounded-full overflow-hidden transition-transform hover:-translate-y-1"
          class:list={{
            "p-1.5 bg-neutral-200": !iconHasOwnBackground(technology),
          }}
        >
          <img
            src={`src/images/skills/${technology}.png`}
            alt=""
            class:list={{
              "w-6 h-6 sm:w-5 sm:h-5 xl:w-6 xl:h-6":
                !iconHasOwnBackground(technology),
              "w-9 h-9 sm:w-8 sm:h-8 xl:w-9 xl:h-9":
                iconHasOwnBackground(technology),
            }}
          />
        </div>
      ))
    }
  </div>
</div>
