---
// Components
import BlurredCircle from "../components/ui/BlurredCircle.astro";
import Interests from "../components/Interests.astro";
import UserCard from "../components/UserCard.astro";

// Translations
import aboutTranslations from "../locales/about.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = aboutTranslations[lang];

const content: ("content_1" | "content_2" | "content_3")[] = [
  "content_1",
  "content_2",
  "content_3",
];
---

<section class="p-8 md:p-12 xl:p-16 xl:container xl:mx-auto">
  <div class="flex flex-col lg:flex-row w-full gap-6 sm:gap-8 md:gap-12">
    <header class="md:hidden">
      <h2 class="text-3xl md:text-4xl font-bold text-primary">
        {translations.sectionTitle}
      </h2>
    </header>
    <div class="flex flex-col md:flex-row gap-8 md:gap-12 xl:gap-16">
      <aside class="relative flex items-center justify-center">
        <div class="absolute -right-8 -top-4 -z-10">
          <div class="saturate-150 dark:saturate-100">
            <BlurredCircle color="#0768eb75" size={200} />
          </div>
        </div>
        <UserCard />
        <div class="absolute -left-8 -bottom-4 -z-10">
          <div class="saturate-150 dark:saturate-100">
            <BlurredCircle color="#0768eb75" size={200} />
          </div>
        </div>
      </aside>
      <section class="flex flex-col gap-6 lg:gap-8 outline-offset-8 rounded-md">
        <header class="hidden md:block">
          <h2 class="text-3xl md:text-4xl font-bold text-primary">
            {translations.sectionTitle}
          </h2>
        </header>
        <div
          class="flex flex-col gap-3 lg:gap-4 m-auto max-w-[768px]"
          role="group"
        >
          {
            content.map((key) => (
              <p
                class="font-light lg:text-lg text-balance"
                set:html={translations[key]}
              />
            ))
          }
        </div>
        <footer class="hidden lg:flex flex-1 items-end">
          <Interests />
        </footer>
      </section>
    </div>
    <footer class="lg:hidden overflow-hidden">
      <Interests />
    </footer>
  </div>
</section>
