---
import { Icon } from "astro-icon/components";
import SocialLinks from "../components/SocialLinks.astro";
import GradientBackground from "../components/ui/GradientBackground.astro";
import contactTranslations from "../locales/contact.locales.json";
import "../styles/buttons.scss";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = contactTranslations[lang];
---

<section
  id="contact"
  class="flex flex-col p-8 md:p-12 xl:p-16 relative overflow-hidden border-b-white border-b-4 bg-white"
>
  <GradientBackground sectionId="contact" />
  <div class="grid gap-24 justify-items-center z-10">
    <h2 class="title text-white">{translations.sectionTitle}</h2>
    <div class="w-2/5">
      <SocialLinks size="large" />
    </div>
    <div
      class="grid w-4/5 justify-center gap-8 rounded-3xl bg-white px-16 py-8 text-center"
    >
      <div class="grid gap-4">
        <h3 class="text-xl md:text-3xl font-semibold">
          {translations.sectionSubtitle}
        </h3>
        <p class="text-balance opacity-90">
          {translations.content}
        </p>
      </div>
      <a href="mailto:valentinnicheglod1@gmail.com" class="contact-button">
        <div class="p-1 rounded-full bg-white">
          <Icon name="send" class="text-[#9155f6] mr-0.5 mt-0.5" />
        </div>
        <div class="pb-0.5">
          {translations.sendEmail}
          &nbsp;&nbsp;
        </div>
      </a>
    </div>
  </div>
</section>
