---
// Components
import GradientBackground from "../components/ui/GradientBackground.astro";
import Skill from "../components/Skill.astro";
import SkillsFilters from "../components/SkillsFilters.astro";

// Styles
import "swiper/css";

// Enums
import { Emojis } from "../models/enums/emojis.enum";

// Translations
import aboutTranslations from "../locales/about.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = aboutTranslations[lang];

// Data
import { getAllSkills } from "../data/skills.data";
const allSkills = getAllSkills(lang);
---

<section
  id="skills"
  class="relative 2xl:container 2xl:mx-auto 2xl:rounded-2xl overflow-hidden bg-white"
>
  <GradientBackground sectionId="skills" />
  <div class="relative flex flex-col gap-6 p-6 sm:p-8 md:p-12">
    <div class="flex md:hidden items-center gap-6 max-w-80">
      <div class="text-6xl dark-opacity" set:html={Emojis.Personal} />
      <div class="title text-white">{translations.skills.sectionTitle}</div>
    </div>
    <SkillsFilters />
    <div
      class="flex flex-col md:flex-row justify-between md:items-center gap-6"
    >
      <div class="hidden md:flex items-center gap-6 max-w-96">
        <div id="skills-icon" class="text-7xl lg:text-8xl dark-opacity"></div>
        <div id="skills-title" class="title text-white text-balance"></div>
      </div>
      <div class="md:w-[max(550px,_50vw)] overflow-hidden">
        <div id="skills-swiper" class="swiper pb-4">
          <div id="skills-list" class="swiper-wrapper">
            {allSkills.map((_skill) => <Skill skill={_skill} />)}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="../scripts/skills.scripts.ts"></script>
