---
import Loader from "../../components/Loader.astro";
import Layout from "../../layouts/Layout.astro";
import About from "../../sections/About.astro";
import Footer from "../../sections/Footer.astro";
import Hero from "../../sections/Hero.astro";
import Projects from "../../sections/Projects.astro";
import Skills from "../../sections/Skills.astro";
import Contact from "../../sections/Contact.astro";
import "/src/styles/global.scss";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Valentín Nicheglod | Portfolio</title>
  </head>
  <body>
    <Layout>
      <div id="loader" class="w-dvw h-dvh overflow-hidden absolute">
        <Loader />
      </div>
      <Hero />
      <div id="content" class="hidden">
        <About />
        <Skills />
        <Projects />
        <Contact />
        <Footer />
      </div>
    </Layout>
  </body>
  <script>
    import { showContent } from "../../scripts/index.js";
    showContent();
  </script>
</html>
