---
import BlurredCircle from "./BlurredCircle.astro";

const { sectionId } = Astro.props;
const colors = ["#9155f6", "#0df2f2", "#25a5fe", "#9155f6", "#0768eb"];
---

<div
  id={`${sectionId}-gradient`}
  class="bg-gradient absolute overflow-hidden h-full w-full blur-xl scale-150"
  aria-hidden="true"
>
  {
    colors.map(() => (
      <div class="gradient-circle absolute inset-0 m-auto w-fit transition-transform duration-[10s] motion-reduce:hidden">
        <BlurredCircle color="#9155f6" />
      </div>
    ))
  }
</div>
<script src="/src/scripts/animations.scripts.ts"></script>
