---
import type { Project } from "../../models/types/project.type";

const { project } = Astro.props as { project: Project };
---

<div class="flex items-center justify-center w-24 h-24">
  <img
    src={`src/images/projects/${project.path}/logo.png`}
    alt={`${project.name} Logo`}
    class="w-10"
  />
</div>
<style>
  div {
    background-image: url(/src/images/vectors/RoundedSquare.svg);
    background-size: cover;
  }
</style>
